<h1>Login</h1>
   <%= form_tag '/users/login' do %>
   <%= label_tag :Email_or_Phone%>
   <%= text_field_tag :email_or_phone_no %>
   <%= label_tag :Password%>
   <%= password_field_tag :password%>
   <%= submit_tag "Login"%>
<%end%>

<%= link_to 'Back', welcome_index_path %>